# The Docker Compose configuration for this project.
#
# WARNING: Always specify the service you want to start (likely `rsync`) when
# you use the `up` subcommand on this project.
version: '2'
services:
    users:
        build: ./tk.bakfile_users
        command: [/bin/true]
    data:
        container_name: tk.bakfile_data
        image: tk.bakfile_data
        build: ./tk.bakfile_data
        depends_on:
            - users
        volumes:
            - home:/home
        command: [/bin/true]
    data.bash:
        image: tk.bakfile_data
        depends_on:
            - data
        volumes:
            - home:/home
        command: [/bin/bash]
    rsync:
        build: ./tk.bakfile_rsync
        depends_on:
            - data
        volumes:
            - home:/home
        ports:
            - "${BAKFILE_RSYNC_PORT}:22"
    duplicity:
        build: ./tk.bakfile_duplicity
        depends_on:
            - data
        volumes:
            - home:/home
            - duplicity.cache:/root/.duplicity
    gpg:
        build: ./tk.bakfile_gpg
        depends_on:
            - data
        volumes:
            - home:/home
volumes:
	home: {}
	duplicity.cache: {}
