# The Docker Compose configuration for this project.
#
# WARNING: Always specify the service you want to start (likely `rsync`) when
# you use the `up` subcommand on this project.
version: '2'
services:
    users:
        container_name: tk.bakfile_users
        image: tk.bakfile_users
        build: ./tk.bakfile_users
        volumes:
            - home:/home
        command: [/bin/true]
    bash:
        image: tk.bakfile_users
        depends_on:
            - users
        volumes:
            - home:/home
        command: [/bin/bash]
    rsync:
        build: ./tk.bakfile_rsync
        depends_on:
            - users
        volumes:
            - home:/home
        ports:
            - "${BAKFILE_RSYNC_PORT}:22"
    duplicity:
        build: ./tk.bakfile_duplicity
        depends_on:
            - users
        volumes:
            - home:/home
            - duplicity.cache:/root/.cache/duplicity
    gpg:
        build: ./tk.bakfile_gpg
        depends_on:
            - users
        volumes:
            - "${BAKFILE_GNUPG_HOMEDIR}:/root/.gnupg"
            - home:/home
    tar:
        image: tk.bakfile_users
        depends_on:
            - users
        volumes:
            - home:/home
            - duplicity.cache:/root/.cache/duplicity
            - ../bak:/bak
        command: [/bin/tar]
volumes:
    home: {}
    duplicity.cache: {}
